In [15]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Equipo':['Barcelona','Madrid','Sevilla','Madrid','Barcelona','Sevilla','Madrid','Barcelona'],
    'Oponente':['Sevilla','Barcelona','Madrid','Sevilla','Madrid','Barcelona','Barcelona','Sevilla'],
    'Goles anotados': np.random.randint(0,5,size=8),
    'Goles recibidos': np.random.randint(0,5,size=8)
})

print(df)

      Equipo   Oponente  Goles anotados  Goles recibidos
0  Barcelona    Sevilla               4                1
1     Madrid  Barcelona               2                0
2    Sevilla     Madrid               4                2
3     Madrid    Sevilla               1                1
4  Barcelona     Madrid               3                3
5    Sevilla  Barcelona               2                0
6     Madrid  Barcelona               0                2
7  Barcelona    Sevilla               0                3

# Creacion de una tabla dinámica

In [17]:
pivot_table = df.pivot_table(values=['Goles anotados','Goles recibidos'], index='Equipo', aggfunc='sum')
print(pivot_table)

           Goles anotados  Goles recibidos
Equipo
Barcelona               7                7
Madrid                  3                3
Sevilla                 6                2

# Agregamos una columna para la diferencia de goles

In [18]:
pivot_table['Diferencia de goles'] = pivot_table['Goles anotados'] - pivot_table['Goles recibidos']
print(pivot_table)

           Goles anotados  Goles recibidos  Diferencia de goles
Equipo
Barcelona               7                7                    0
Madrid                  3                3                    0
Sevilla                 6                2                    4

# Usamos la función de agregación mean()

In [19]:
pivot_table=df.pivot_table(values='Goles anotados',index='Equipo',aggfunc='mean')
print(pivot_table)

           Goles anotados
Equipo
Barcelona        2.333333
Madrid           1.000000
Sevilla          3.000000

In [20]:
pivot_table=df.pivot_table(values='Goles anotados',index=['Equipo','Oponente'],aggfunc= 'sum')
print(pivot_table)

                     Goles anotados
Equipo    Oponente
Barcelona Madrid                  3
          Sevilla                 4
Madrid    Barcelona               2
          Sevilla                 1
Sevilla   Barcelona               2
          Madrid                  4

In [13]:
df=pd.DataFrame({
   'Equipo':['Barcelona','Madrid','Sevilla']*3,
   'Partido':['Partido' + str(i) for i in range(1,10)],
   'Goles anotados': np.random.randint(0,5,size=9),
   'Goles recibidos': np.random.randint(0,5,size=9)     
})
print(df)

      Equipo   Partido  Goles anotados  Goles recibidos
0  Barcelona  Partido1               2                1
1     Madrid  Partido2               3                1
2    Sevilla  Partido3               0                3
3  Barcelona  Partido4               4                3
4     Madrid  Partido5               4                1
5    Sevilla  Partido6               4                3
6  Barcelona  Partido7               2                3
7     Madrid  Partido8               1                2
8    Sevilla  Partido9               2                2

# Uso del método melt en datos de partidos

In [12]:
df_melted = df.melt(id_vars=['Equipo','Partido'],value_vars=['Goles anotados','Goles recibidos'])
print(df_melted)

       Equipo   Partido         variable  value
0   Barcelona  Partido1   Goles anotados      0
1      Madrid  Partido2   Goles anotados      3
2     Sevilla  Partido3   Goles anotados      4
3   Barcelona  Partido4   Goles anotados      3
4      Madrid  Partido5   Goles anotados      4
5     Sevilla  Partido6   Goles anotados      1
6   Barcelona  Partido7   Goles anotados      1
7      Madrid  Partido8   Goles anotados      0
8     Sevilla  Partido9   Goles anotados      1
9   Barcelona  Partido1  Goles recibidos      2
10     Madrid  Partido2  Goles recibidos      4
11    Sevilla  Partido3  Goles recibidos      3
12  Barcelona  Partido4  Goles recibidos      2
13     Madrid  Partido5  Goles recibidos      4
14    Sevilla  Partido6  Goles recibidos      4
15  Barcelona  Partido7  Goles recibidos      4
16     Madrid  Partido8  Goles recibidos      4
17    Sevilla  Partido9  Goles recibidos      2