In [2]:
import pandas as pd

df=pd.read_csv('goleadores.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   POS     50 non-null     int64
 1   Nombre  50 non-null     object
 2   Equipo  50 non-null     object
 3   P       50 non-null     int64
 4   G       50 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB
None

# Sumar una cantidad a una columna

In [ ]:
df['P']=df['P'].apply(lambda x : x+1)
print(df)

# Convertir los valores de una columna en mayúscula

In [ ]:
def mayus(x:str):
    return x.lower()

df['Nombre']=df['Nombre'].apply(mayus)
print(df)

# funciones para promedio, sum, max y min de una columna

In [ ]:
promedio=df['G'].mean()
maximo= df['G'].min()
minimo=df['G'].max()
suma=df['G'].sum()
print(promedio)
print(maximo)
print(minimo)
print(suma)

# Reemplazar un valor por otro

In [ ]:
df['Nombre']=df['Nombre'].replace('kevin serna','Hernan Barco')
print(df)

# Reemplazar un valor que empiece por una letra

In [ ]:
df['Nombre']=df['Nombre'].replace(r'^H.*','Anónimo',regex=True)
print(df)

# Separar datos de una misma columna

In [ ]:
df[['Nombre','Apellido']]=df['Nombre'].str.split(' ',expand=True)
print(df)

# Reemplazar una letra por otra letra

In [ ]:
df['Nombre']=df['Nombre'].str.replace('a','o')
print(df)