# Introduccion

In [ ]:
import pandas as pd

serie = pd.Series([1,2,3,4,5,6,43])
#print(serie)

In [11]:
datos={
    'nombre':['Ana','Iván','Carlos'],
    'edades':[89,75,96]
}

df=pd.DataFrame(datos)

print(df)

   nombre  edades
0     Ana      89
1    Iván      75
2  Carlos      96

# Cargar CSV

In [12]:
dfbooks = pd.read_csv('dataBooks.csv',on_bad_lines='skip')
print(dfbooks.columns)

Index(['isbn13;isbn10;title;subtitle;authors;categories;thumbnail;description;published_year;average_rating;num_pages;ratings_count'], dtype='object')